In [13]:
import pandas as pd
pd.options.mode.copy_on_write = True


def process(df: pd.DataFrame):
    df_find = df[['Name', 'Age', 'Weight', 'Height', 'Overall']]

    df_find['Height'] = df_find['Height'].apply(lambda s: int(s.split("'")[0]) * 0.3048 + int(s.split("'")[1]) * 0.0254)
    df_find['Weight'] = df_find['Weight'].apply(lambda s: float(s[:-3]) * 0.453592)
    df_find['BMI'] = df_find['Weight'] / df_find['Height'] ** 2
    df_mean = df_find.mean(numeric_only=True)
    df_find['Normality'] = sum([(df_find[col_name] - df_mean[col_name]) ** 2
                                for col_name in ['Age', 'Weight', 'Height', 'Overall', 'BMI']]) ** 0.5
    df_find.sort_values(by='Normality', ascending=True, inplace=True)
    
    return df_find.head(3).reset_index(drop=True)[['Weight', 'Height', 'Age', 'Overall', 'BMI', 'Name', 'Normality']]

In [3]:
df = pd.read_csv("FIFA21_official_data.csv")

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 65 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        1024 non-null   int64
 1   Name                      1024 non-null   object
 2   Age                       1024 non-null   int64
 3   Photo                     1024 non-null   object
 4   Nationality               1024 non-null   object
 5   Flag                      1024 non-null   object
 6   Overall                   1024 non-null   int64
 7   Potential                 1024 non-null   int64
 8   Club                      996 non-null    object
 9   Club Logo                 1024 non-null   object
 10  Value                     1024 non-null   object
 11  Wage                      1024 non-null   object
 12  Special                   1024 non-null   int64
 13  Preferred Foot            1024 non-null   object
 14  International Reputation  1024 non-null   float64
 15  Weak Foot                 1024 non-null   float64
 16  Skill Moves               1024 non-null   float64
 17  Work Rate                 1024 non-null   object
 18  Body Type                 1024 non-null   object
 19  Real Face                 1024 non-null   object
 20  Position                  1022 non-null   object
 21  Jersey Number             1022 non-null   float64
 22  Joined                    944 non-null    object
 23  Loaned From               28 non-null     object
 24  Contract Valid Until      972 non-null    object
 25  Height                    1024 non-null   object
 26  Weight                    1024 non-null   object
 27  Crossing                  1024 non-null   float64
 28  Finishing                 1024 non-null   float64
 29  HeadingAccuracy           1024 non-null   float64
 30  ShortPassing              1024 non-null   float64
 31  Volleys                   1024 non-null   float64
 32  Dribbling                 1024 non-null   float64
 33  Curve                     1024 non-null   float64
 34  FKAccuracy                1024 non-null   float64
 35  LongPassing               1024 non-null   float64
 36  BallControl               1024 non-null   float64
 37  Acceleration              1024 non-null   float64
 38  SprintSpeed               1024 non-null   float64
 39  Agility                   1024 non-null   float64
 40  Reactions                 1024 non-null   float64
 41  Balance                   1024 non-null   float64
 42  ShotPower                 1024 non-null   float64
 43  Jumping                   1024 non-null   float64
 44  Stamina                   1024 non-null   float64
 45  Strength                  1024 non-null   float64
 46  LongShots                 1023 non-null   float64
 47  Aggression                1023 non-null   float64
 48  Interceptions             1023 non-null   float64
 49  Positioning               1023 non-null   float64
 50  Vision                    1023 non-null   float64
 51  Penalties                 1023 non-null   float64
 52  Composure                 994 non-null    float64
 53  Marking                   90 non-null     float64
 54  StandingTackle            1023 non-null   float64
 55  SlidingTackle             1023 non-null   float64
 56  GKDiving                  1023 non-null   float64
 57  GKHandling                1023 non-null   float64
 58  GKKicking                 1023 non-null   float64
 59  GKPositioning             1023 non-null   float64
 60  GKReflexes                1023 non-null   float64
 61  Best Position             1023 non-null   object
 62  Best Overall Rating       1023 non-null   float64
 63  Release Clause            924 non-null    object
 64  DefensiveAwareness        933 non-null    float64
dtypes: float64(40), int64(5), object(20)
memory usage: 520.1+ KB

,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Overall Rating,DefensiveAwareness
count,1024.000000,1024.000000,1024.000000,1024.000000,1024.000000,1024.000000,1024.000000,1024.000000,1022.000000,1024.000000,...,90.000000,1023.000000,1023.000000,1023.000000,1023.000000,1023.000000,1023.000000,1023.000000,1023.000000,933.000000
mean,197221.936523,28.266602,78.160156,79.654297,2061.469727,1.814453,3.329102,3.307617,16.996086,73.511719,...,63.866667,67.691105,64.337243,10.701857,10.726295,10.780059,10.692082,10.654936,78.789834,66.135048
std,39095.625822,3.863788,4.100608,4.719463,63.836508,0.889136,0.727946,0.637766,13.692938,7.343270,...,13.520854,13.792294,15.357598,3.418619,3.571380,3.731381,3.735115,3.374126,4.014140,13.195663
min,41.000000,17.000000,68.000000,68.000000,1985.000000,1.000000,1.000000,2.000000,2.000000,40.000000,...,16.000000,20.000000,14.000000,2.000000,2.000000,2.000000,2.000000,2.000000,68.000000,17.000000
25%,187049.750000,26.000000,75.000000,76.000000,2012.000000,1.000000,3.000000,3.000000,8.000000,69.000000,...,59.250000,63.000000,57.000000,8.000000,8.000000,8.000000,8.000000,8.000000,76.000000,60.000000
50%,203429.500000,28.000000,78.000000,79.000000,2045.500000,2.000000,3.000000,3.000000,14.000000,74.000000,...,68.000000,72.000000,69.000000,11.000000,11.000000,11.000000,11.000000,11.000000,78.000000,70.000000
75%,219709.500000,31.000000,81.000000,83.000000,2093.250000,2.000000,4.000000,4.000000,22.000000,78.000000,...,72.000000,77.000000,75.000000,13.000000,13.000000,13.000000,13.000000,13.000000,81.000000,75.000000
max,254909.000000,40.000000,93.000000,95.000000,2316.000000,5.000000,5.000000,5.000000,99.000000,94.000000,...,86.000000,93.000000,95.000000,52.000000,61.000000,69.000000,66.000000,46.000000,93.000000,93.000000

In [14]:
process(df)

      Weight  Height  Age  Overall        BMI             Name  Normality
0  74.842680  1.7780   28       78  23.674773   Manu Trigueros   0.682349
1  74.842680  1.7526   29       78  24.365971         J. Bořil   1.421296
2  73.935496  1.7780   29       77  23.387806     D. Cheryshev   1.465139

In [6]:
val_1 = 28
val_2 = 1.74
mean_1 = 28.7849
mean_2 = 1.75984

normality = sum([(val_1 - mean_1) ** 2, (val_2 - mean_2) ** 2]) ** 0.5  # 0.785

0.785150708845124

In [8]:
# ,Weight,Height,Age,Overall,BMI,Name,Normality
# 540,74.84268,1.778,28,78,23.67477265566776, Manu Trigueros,0.6823492023886398
# 576,74.84268,1.7526,29,78,24.365970597095576, J. Bořil,1.4212959783562065
# 617,73.935496,1.778,29,77,23.38780571438694, D. Cheryshev,1.4651386645811162

# value   Age          Weight        Height          Overall      BMI
# mean    28.266602    74.424525     1.728674 1.79   78.160156    25.264236

df_find = df[['Name', 'Age', 'Weight', 'Height', 'Overall']]

# df_find['Height'] = df_find['Height'].apply(lambda s: float(s.replace("'", ".")) * 0.3048)
df_find['Height'] = df_find['Height'].apply(lambda s: int(s.split("'")[0]) * 0.3048 + int(s.split("'")[1]) * 0.0254)
df_find['Weight'] = df_find['Weight'].apply(lambda s: float(s[:-3]) * 0.453592)
df_find['BMI'] = df_find['Weight'] / df_find['Height'] ** 2
df_mean = df_find.mean(numeric_only=True)
df_std = df_find.std(numeric_only=True)
df_find['Normality'] = sum([(df_find[col_name] - df_mean[col_name]) ** 2
                            for col_name in ['Age', 'Weight', 'Height', 'Overall', 'BMI']]) ** 0.5

df_find.info()
print(df_find.describe())
# print(df_find.mean(numeric_only=True))
# print(df_find.std(numeric_only=True))

df_find.sort_values(by='Normality', ascending=True, inplace=True)
df_find.reset_index(drop=True, inplace=True)

print(df_find.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       1024 non-null   object
 1   Age        1024 non-null   int64
 2   Weight     1024 non-null   float64
 3   Height     1024 non-null   float64
 4   Overall    1024 non-null   int64
 5   BMI        1024 non-null   float64
 6   Normality  1024 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 56.1+ KB
               Age       Weight       Height      Overall          BMI  \
count  1024.000000  1024.000000  1024.000000  1024.000000  1024.000000
mean     28.266602    74.424525     1.789137    78.160156    23.234436
std       3.863788     6.089866     0.056468     4.100608     1.340315
min      17.000000    58.059776     1.625600    68.000000    19.107410
25%      26.000000    69.853168     1.752600    75.000000    22.333573
50%      28.000000    73.935496     1.778000    78.000000    23.179820
75%      31.000000    78.017824     1.828800    81.000000    24.119543
max      40.000000    94.800728     1.981200    93.000000    28.057784

         Normality
count  1024.000000
mean      7.706971
std       3.342824
min       0.682349
25%       5.399721
50%       7.348306
75%       9.586996
max      23.146926
              Name  Age     Weight  Height  Overall        BMI  Normality
0   Manu Trigueros   28  74.842680  1.7780       78  23.674773   0.682349
1         J. Bořil   29  74.842680  1.7526       78  24.365971   1.421296
2     D. Cheryshev   29  73.935496  1.7780       77  23.387806   1.465139
3      Y. Belhanda   30  74.842680  1.7780       78  23.674773   1.843690
4       J. Sildero   28  74.842680  1.7780       80  23.674773   1.955754
5      C. McGregor   27  73.935496  1.7526       77  24.070625   1.972293
6    L. Spinazzola   27  74.842680  1.8542       78  21.768885   1.989185
7          Montoya   29  73.028312  1.7526       77  23.775280   2.031525
8   S. El Shaarawy   27  73.028312  1.7780       79  23.100839   2.068091
9         B. André   29  73.935496  1.8034       80  22.733634   2.100727

In [60]:
df_mean = df_find.mean(numeric_only=True)
df_std = df_find.std(numeric_only=True)

df_find['Total'] = sum([abs(df_find[col_name] - df_mean[col_name]) / df_std[col_name]
                        for col_name in ['Age', 'Weight', 'Height', 'Overall', 'BMI']])  # 'Normality'
df_find.sort_values(by='Total', ascending=True, inplace=True)
df_find.head(10)

,Name,Age,Weight,Height,Overall,BMI,Normality,Total
881,Pozuelo,28,73.028312,1.73736,79,24.194220,0.417864,0.836609
430,J. Seri,28,73.028312,1.73736,77,24.194220,0.461203,0.914722
206,J. Fleck,28,72.121128,1.73736,77,23.893671,0.590385,1.138418
992,Roque Mesa,31,73.935496,1.73736,77,24.494769,0.792542,1.329466
351,J. Buffarini,31,73.935496,1.73736,77,24.494769,0.792542,1.329466
576,J. Bořil,29,74.842680,1.79832,78,23.142772,0.783111,1.366086
328,Rafael,29,78.017824,1.76784,77,24.963641,0.749929,1.441791
771,O. Opazo,29,72.121128,1.73736,76,23.893671,0.759792,1.503098
260,M. Ritchie,30,76.203456,1.76784,77,24.383091,0.712195,1.547024
414,X. Shaqiri,28,72.121128,1.73736,81,23.893671,0.864942,1.548038